numpy==2.3.1
pandas==2.3.0
pandas-datareader==0.10.0
pandas-gbq==0.29.1
pandas-stubs==2.2.2.240909
joblib==1.5.1
firebase==4.0.1
firebase_admin==7.1.0
Flask==3.1.0
gunicorn==23.0.0
scikit-learn==1.6.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1